.bg-blue-50 {
  background-color: #eff6ff;
}
.border-blue-50 {
  border-color: #eff6ff;
}
.text-blue-50 {
  color: #eff6ff;
}
.bg-blue-100 {
  background-color: #dbeafe;
}
.border-blue-100 {
  border-color: #dbeafe;
}
.text-blue-100 {
  color: #dbeafe;
}
.bg-blue-200 {
  background-color: #bfdbfe;
}
.border-blue-200 {
  border-color: #bfdbfe;
}
.text-blue-200 {
  color: #bfdbfe;
}
.bg-blue-300 {
  background-color: #93c5fd;
}
.border-blue-300 {
  border-color: #93c5fd;
}
.text-blue-300 {
  color: #93c5fd;
}
.bg-blue-400 {
  background-color: #60a5fa;
}
.border-blue-400 {
  border-color: #60a5fa;
}
.text-blue-400 {
  color: #60a5fa;
}
.bg-blue-500 {
  background-color: #3b82f6;
}
.border-blue-500 {
  border-color: #3b82f6;
}
.text-blue-500 {
  color: #3b82f6;
}
.bg-blue-600 {
  background-color: #2563eb;
}
.border-blue-600 {
  border-color: #2563eb;
}
.text-blue-600 {
  color: #2563eb;
}
.bg-blue-700 {
  background-color: #1d4ed8;
}
.border-blue-700 {
  border-color: #1d4ed8;
}
.text-blue-700 {
  color: #1d4ed8;
}
.bg-blue-800 {
  background-color: #1e40af;
}
.border-blue-800 {
  border-color: #1e40af;
}
.text-blue-800 {
  color: #1e40af;
}
.bg-blue-900 {
  background-color: #1e3a8a;
}
.border-blue-900 {
  border-color: #1e3a8a;
}
.text-blue-900 {
  color: #1e3a8a;
}
