.bg-green-50 {
  background-color: #ecfdf5;
}
.border-green-50 {
  border-color: #ecfdf5;
}
.text-green-50 {
  color: #ecfdf5;
}
.bg-green-100 {
  background-color: #d1fae5;
}
.border-green-100 {
  border-color: #d1fae5;
}
.text-green-100 {
  color: #d1fae5;
}
.bg-green-200 {
  background-color: #a7f3d0;
}
.border-green-200 {
  border-color: #a7f3d0;
}
.text-green-200 {
  color: #a7f3d0;
}
.bg-green-300 {
  background-color: #6ee7b7;
}
.border-green-300 {
  border-color: #6ee7b7;
}
.text-green-300 {
  color: #6ee7b7;
}
.bg-green-400 {
  background-color: #34d399;
}
.border-green-400 {
  border-color: #34d399;
}
.text-green-400 {
  color: #34d399;
}
.bg-green-500 {
  background-color: #10b981;
}
.border-green-500 {
  border-color: #10b981;
}
.text-green-500 {
  color: #10b981;
}
.bg-green-600 {
  background-color: #059669;
}
.border-green-600 {
  border-color: #059669;
}
.text-green-600 {
  color: #059669;
}
.bg-green-700 {
  background-color: #047857;
}
.border-green-700 {
  border-color: #047857;
}
.text-green-700 {
  color: #047857;
}
.bg-green-800 {
  background-color: #065f46;
}
.border-green-800 {
  border-color: #065f46;
}
.text-green-800 {
  color: #065f46;
}
.bg-green-900 {
  background-color: #064e3b;
}
.border-green-900 {
  border-color: #064e3b;
}
.text-green-900 {
  color: #064e3b;
}
