.bg-pink-50 {
  background-color: #fdf2f8;
}
.border-pink-50 {
  border-color: #fdf2f8;
}
.text-pink-50 {
  color: #fdf2f8;
}
.bg-pink-100 {
  background-color: #fce7f3;
}
.border-pink-100 {
  border-color: #fce7f3;
}
.text-pink-100 {
  color: #fce7f3;
}
.bg-pink-200 {
  background-color: #fbcfe8;
}
.border-pink-200 {
  border-color: #fbcfe8;
}
.text-pink-200 {
  color: #fbcfe8;
}
.bg-pink-300 {
  background-color: #f9a8d4;
}
.border-pink-300 {
  border-color: #f9a8d4;
}
.text-pink-300 {
  color: #f9a8d4;
}
.bg-pink-400 {
  background-color: #f472b6;
}
.border-pink-400 {
  border-color: #f472b6;
}
.text-pink-400 {
  color: #f472b6;
}
.bg-pink-500 {
  background-color: #ec4899;
}
.border-pink-500 {
  border-color: #ec4899;
}
.text-pink-500 {
  color: #ec4899;
}
.bg-pink-600 {
  background-color: #db2777;
}
.border-pink-600 {
  border-color: #db2777;
}
.text-pink-600 {
  color: #db2777;
}
.bg-pink-700 {
  background-color: #be185d;
}
.border-pink-700 {
  border-color: #be185d;
}
.text-pink-700 {
  color: #be185d;
}
.bg-pink-800 {
  background-color: #9d174d;
}
.border-pink-800 {
  border-color: #9d174d;
}
.text-pink-800 {
  color: #9d174d;
}
.bg-pink-900 {
  background-color: #831843;
}
.border-pink-900 {
  border-color: #831843;
}
.text-pink-900 {
  color: #831843;
}
