.bg-purple-50 {
  background-color: #f5f3ff;
}
.border-purple-50 {
  border-color: #f5f3ff;
}
.text-purple-50 {
  color: #f5f3ff;
}
.bg-purple-100 {
  background-color: #ede9fe;
}
.border-purple-100 {
  border-color: #ede9fe;
}
.text-purple-100 {
  color: #ede9fe;
}
.bg-purple-200 {
  background-color: #ddd6fe;
}
.border-purple-200 {
  border-color: #ddd6fe;
}
.text-purple-200 {
  color: #ddd6fe;
}
.bg-purple-300 {
  background-color: #c4b5fd;
}
.border-purple-300 {
  border-color: #c4b5fd;
}
.text-purple-300 {
  color: #c4b5fd;
}
.bg-purple-400 {
  background-color: #a78bfa;
}
.border-purple-400 {
  border-color: #a78bfa;
}
.text-purple-400 {
  color: #a78bfa;
}
.bg-purple-500 {
  background-color: #8b5cf6;
}
.border-purple-500 {
  border-color: #8b5cf6;
}
.text-purple-500 {
  color: #8b5cf6;
}
.bg-purple-600 {
  background-color: #7c3aed;
}
.border-purple-600 {
  border-color: #7c3aed;
}
.text-purple-600 {
  color: #7c3aed;
}
.bg-purple-700 {
  background-color: #6d28d9;
}
.border-purple-700 {
  border-color: #6d28d9;
}
.text-purple-700 {
  color: #6d28d9;
}
.bg-purple-800 {
  background-color: #5b21b6;
}
.border-purple-800 {
  border-color: #5b21b6;
}
.text-purple-800 {
  color: #5b21b6;
}
.bg-purple-900 {
  background-color: #4c1d95;
}
.border-purple-900 {
  border-color: #4c1d95;
}
.text-purple-900 {
  color: #4c1d95;
}
