.bg-red-50 {
  background-color: #fef2f2;
}
.border-red-50 {
  border-color: #fef2f2;
}
.text-red-50 {
  color: #fef2f2;
}
.bg-red-100 {
  background-color: #fee2e2;
}
.border-red-100 {
  border-color: #fee2e2;
}
.text-red-100 {
  color: #fee2e2;
}
.bg-red-200 {
  background-color: #fecaca;
}
.border-red-200 {
  border-color: #fecaca;
}
.text-red-200 {
  color: #fecaca;
}
.bg-red-300 {
  background-color: #fca5a5;
}
.border-red-300 {
  border-color: #fca5a5;
}
.text-red-300 {
  color: #fca5a5;
}
.bg-red-400 {
  background-color: #f87171;
}
.border-red-400 {
  border-color: #f87171;
}
.text-red-400 {
  color: #f87171;
}
.bg-red-500 {
  background-color: #ef4444;
}
.border-red-500 {
  border-color: #ef4444;
}
.text-red-500 {
  color: #ef4444;
}
.bg-red-600 {
  background-color: #dc2626;
}
.border-red-600 {
  border-color: #dc2626;
}
.text-red-600 {
  color: #dc2626;
}
.bg-red-700 {
  background-color: #b91c1c;
}
.border-red-700 {
  border-color: #b91c1c;
}
.text-red-700 {
  color: #b91c1c;
}
.bg-red-800 {
  background-color: #991b1b;
}
.border-red-800 {
  border-color: #991b1b;
}
.text-red-800 {
  color: #991b1b;
}
.bg-red-900 {
  background-color: #7f1d1d;
}
.border-red-900 {
  border-color: #7f1d1d;
}
.text-red-900 {
  color: #7f1d1d;
}
