.bg-yellow-50 {
  background-color: #fffbeb;
}
.border-yellow-50 {
  border-color: #fffbeb;
}
.text-yellow-50 {
  color: #fffbeb;
}
.bg-yellow-100 {
  background-color: #fef3c7;
}
.border-yellow-100 {
  border-color: #fef3c7;
}
.text-yellow-100 {
  color: #fef3c7;
}
.bg-yellow-200 {
  background-color: #fde68a;
}
.border-yellow-200 {
  border-color: #fde68a;
}
.text-yellow-200 {
  color: #fde68a;
}
.bg-yellow-300 {
  background-color: #fcd34d;
}
.border-yellow-300 {
  border-color: #fcd34d;
}
.text-yellow-300 {
  color: #fcd34d;
}
.bg-yellow-400 {
  background-color: #fbbf24;
}
.border-yellow-400 {
  border-color: #fbbf24;
}
.text-yellow-400 {
  color: #fbbf24;
}
.bg-yellow-500 {
  background-color: #f59e0b;
}
.border-yellow-500 {
  border-color: #f59e0b;
}
.text-yellow-500 {
  color: #f59e0b;
}
.bg-yellow-600 {
  background-color: #d97706;
}
.border-yellow-600 {
  border-color: #d97706;
}
.text-yellow-600 {
  color: #d97706;
}
.bg-yellow-700 {
  background-color: #b45309;
}
.border-yellow-700 {
  border-color: #b45309;
}
.text-yellow-700 {
  color: #b45309;
}
.bg-yellow-800 {
  background-color: #92400e;
}
.border-yellow-800 {
  border-color: #92400e;
}
.text-yellow-800 {
  color: #92400e;
}
.bg-yellow-900 {
  background-color: #78350f;
}
.border-yellow-900 {
  border-color: #78350f;
}
.text-yellow-900 {
  color: #78350f;
}
